<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= livroDetalhes.nome %> - info</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section id="details_section">
            <article id="details_main">
                <div id="details_">
                    <img src="<%= livroDetalhes.img %> " alt="">
                    <h2><%= livroDetalhes.nome %> </h2>
                </div>
                <div id="details_1">
                    <p><b>Autor:</b> <%= livroDetalhes.autor %> </p>
                    <p><b>Ano:</b> <%= livroDetalhes.ano %> </p>
                    <p><b>Descrição:</b> <%= livroDetalhes.descricao %> </p> 
                </div>
            </article>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>