<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>LIBRARY | HOME</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="container_card">
            <% listBooks.forEach(element => { %>
                <a href="/detalhes/<%= element.id %> ">
                    <article class="cards">
                        <div id="card_inner">
                            <div class="card_img"><img src="<%= element.img %> " alt="Capa do livro <%= element.nome %> "></div>
                            <div class="card_name"> <%= element.nome %> </div>
                            <div class="card_autor"> <%= element.autor %> </div>     
                        </div> 
                        <div id="buttom_card">
                            <a href="/remove/<%= element.id %> ">
                                <img class="delete-icon" src="" alt="delete icon">
                           </a>
                           <a href="/update/<%= element.id %> ">
                                <img class="edit-icon" src="" alt="editar">
                           </a>
                        </div>              
                    </article>
                </a>
            <% }) %>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>