<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/27a7f617e8.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>LIBRARY | HOME</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="container_card">
            <% listBooks.forEach(element => { %>
                <a href="/detalhes/<%= element.id %> ">
                    <article class="cards">
                        <div id="card_inner">
                            <div class="card_img"><img src="<%= element.img %> " alt="Capa do livro <%= element.nome %> "></div>
                            <div class="card_name"> <p class="info"><%= element.nome %> </p></div>
                            <div class="card_autor"> <p class="info"> <%= element.autor %></p> </div>     
                        </div> 
                        <div id="buttom_card">
                            <a href="/remove/<%= element.id %> " id="remove">
                                <i class="fa-solid fa-trash"></i>
                           </a>
                           <a href="/update/<%= element.id %> " id="edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                           </a>
                        </div>              
                    </article>
                </a>
            <% }) %>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>